::selection {
    background-color: transparent;
}

h1, h2, h3 {
    margin-top: 0px;
    text-shadow: 0px 0px 10px #c0f3fcce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0f3fc;
    font-weight: 100;
}

body {
    background-color: #333;
    user-select: none;
}


.interface {
    text-align: left;
    min-width: 600px;
}

button {
    color: #c0f3fc;
    text-shadow: 0px 0px 10px #c0f3fcce;
    background: #666;
    padding: 10px;
    margin: 4px;
}

#root {
    display: flex;
    justify-content: center;
}

.title {
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 32px;
}

.frequencyBands {
    padding: 1px;
    margin: 1px;
    transform: rotatex(180deg);
    transform-origin: top;
    flex: 1;
    float: left;
    height: 0px;
}

table {
    margin: auto;
    text-align: left;
}

li {
    text-align: left;
}

.visualizer {
    height: 400px;
}


  
