::selection {
    background: rgba(0, 0, 0, 0)
}

h1, h2, h3 {
    text-shadow: 0px 0px 10px #c0f3fcce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0f3fc;
    font-weight: 100;
}

body {
    background-color: #383838;
}

button {
    color: #c0f3fc;
    text-shadow: 0px 0px 10px #c0f3fcce;
    background: #666;
    padding: '4px';
    margin: '4px';
}

#root {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 32px;
}

.frequencyBands {
    padding: 1px;
    margin: 1px;
    transform: rotatex(180deg);
    transform-origin: top;
    flex: 1;
    float: left;
    height: 0px;
}

table {
    margin: auto;
}

.visualizer {
    height: 400px;
}


  
