@font-face {
    font-family: Digital;
    src: url('./fonts/digital-7 (mono).ttf');
}

::selection {
    background-color: transparent;
}

#root {
    display: flex;
    justify-content: center;
}

html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background-color: #333;
    user-select: none;
    margin: auto;
    width: fit-content;
}

h1, h2, h3 {
    margin-top: 0px;
    text-shadow: 0px 0px 10px #c0f3fcce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0f3fc;
    font-weight: 100;
}

p {
    text-shadow: 0px 0px 10px #c0f3fcce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0f3fc;
    font-weight: 100;
    font-size: small;
}

button {
    color: #c0f3fc;
    text-shadow: 0px 0px 10px #c0f3fcce;
    background: #666;
    padding: 10px;
    margin: 4px;
    border-radius: 0.5em;
}

input, textarea {
    background: black;
    color: #c0f3fc;
    text-shadow: 0px 0px 10px #c0f3fcce;
    text-shadow: 0px 0px 10px #c0f3fcce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.interface-container {
    background-color: #383838;
    padding: 40px 80px 80px 80px;
    margin: 8px;
}

.interface {
    text-align: left;
    width: 750px;
}


.title {
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 32px;
}

.frequencyBands {
    margin: 1px;
    transform-origin: top;
    flex: 1;
    float: left;
    height: 0px;
}

table {
    margin: auto;
    text-align: left;
}

li {
    text-align: left;
}

.visualizer {
    height: 400px;
}

.custom-file-input {
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118,118,118) rgb(133,133,133);
    border-image: initial;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.screen {
    background-color: black;
    border-width: 4px;
    border-style: outset;
    border-color: gray;
    padding: 1.5em;
}

.screen-text {
    font-family: Digital;
    margin-top: 0px;
    font-size: 1.5em;
}

.reverse-button {
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: 50%
}


  
